@font-face {
	font-family: 'Sneak';
	src: url('../assets/fonts/Sneak-Regular.eot');
	src: url('../assets/fonts/Sneak-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Sneak-Regular.woff2') format('woff2'),
		url('../assets/fonts/Sneak-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Sneak';
	src: url('../assets/fonts/Sneak-Regular-Italic.eot');
	src: url('../assets/fonts/Sneak-Regular-Italic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Sneak-Regular-Italic.woff2') format('woff2'),
		url('../assets/fonts/Sneak-Regular-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Sneak';
	src: url('../assets/fonts/Sneak-Bold.eot');
	src: url('../assets/fonts/Sneak-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Sneak-Bold.woff2') format('woff2'),
		url('../assets/fonts/Sneak-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
